<div class="container-inner">
    <h1 class="page-title">About Me</h1>
    <p class="about-subtitle">
        好奇心旺盛です。プログラミングを初めて日は浅いですが、新しいことが大好きで、様々な事にチャレンジし学びながら日々の活動に励んでいます。
    </p>
    <section class="about-section">
        <h2 class="section-title">Profile</h2>
        <article class="profile-content">
            <div class="profile-image">
            </div>
            <div class="profile-text">
                <p class="profile-text-item">
                    <span class="profile-text-title">
                        名前
                    </span>
                    <span class="profile-text-value">
                        原 絵里加
                    </span>
                </p>
                <p class="profile-text-item">
                    <span class="profile-text-title">
                        出身
                    </span>
                    <span class="profile-text-value">
                        兵庫県
                    </span>
                </p>
                <dl class="profile-text-item">
                    <dt class="profile-text-title">自己紹介</dt>
                    <dd class="profile-text-value">
                        はじめまして。私は、兵庫県のおばちゃんです。大型バイクにも載っていました。実は、バイク整備もする鉛筆画の趣味を持つエアブラシアーティストでした。Profileのイメージも私の鉛筆画作品です。そしてカウンセラーでもあります。何にも関連しておりませんが。。。若い頃から楽しんでいたPC趣味を元に、2年前にプログラミングスクールで勉強し、エンジニアになりました。<br> <br><strong>。。。勿論。。。</strong><br><br>既におばちゃんなので、ベテランの先輩のエンジニアの皆さんのようになるにはまだまだ道のりは長いですが、プログラミングを楽しみながら誰かの役に立ちたい!!と常に考えております。「良い感じ！またお願いします！」の声が聞きたくて、色んな事にも常に新しいことにも挑戦し続けたいと思っております。
                    </dd>
                </dl>
            </div>
        </article>
    </section>

    <div class="about-section">
        <h2 class="section-title">Skills</h2>
        <div class="custom-generator-icons">
            <img src="https://img.shields.io/badge/-Laravel-black.svg?logo=laravel&style=plastic">
            <img src="https://img.shields.io/badge/-Nginx-red.svg?logo=nginx&style=plastic">
            <img src="https://img.shields.io/badge/-Node.js-339933.svg?logo=node.js&style=plastic">
            <img src="https://img.shields.io/badge/-Php-orange.svg?logo=php&style=plastic">
            <img src="https://img.shields.io/badge/-Javascript-F7DF1E.svg?logo=javascript&style=plastic">
            <img src="https://img.shields.io/badge/-React-61DAFB.svg?logo=react&style=plastic">
            <img src="https://img.shields.io/badge/-Typescript-007ACC.svg?logo=typescript&style=plastic">
            <img src="https://img.shields.io/badge/-Git-F05032.svg?logo=git&style=plastic">
            <img src="https://img.shields.io/badge/-Github-181717.svg?logo=github&style=plastic">
            <img src="https://img.shields.io/badge/-Next.js-000000.svg?logo=next.js&style=plastic">
            <img src="https://img.shields.io/badge/-Html5-pink.svg?logo=html5&style=plastic">
            <img src="https://img.shields.io/badge/-Css3-red.svg?logo=css3&style=plastic">
            <img src="https://img.shields.io/badge/-Windows-0078D6.svg?logo=windows&style=plastic">
            <img src="https://img.shields.io/badge/-Mysql-green.svg?logo=mysql&style=plastic">
            <img src="https://img.shields.io/badge/-Docker-1488C6.svg?logo=docker&style=plastic">
            <img src="https://img.shields.io/badge/-Stripe-008CDD.svg?logo=stripe&style=plastic">
        </div>
        <div class="skills-content">
            <div class="skill-level-description">
                <p>スキルレベル：</p>
                <ul>
                    <li>★5: 1年半以上の学習・実装経験、基本的な実装が可能</li>
                    <li>★4: 1年半以上の学習・実装経験、サポートがあれば実装可能</li>
                    <li>★3: 学習・実装経験あり、基礎的な理解がある</li>
                    <li>★2: 学習・実装経験あり、基本的な知識がある</li>
                    <li>★1: 学習中、入門的な知識がある</li>
                </ul>
            </div>
            <div class="skill-categories">
                <div class="skill-category">
                    <h3 class="skill-category-title">Frontend</h3>
                    <ul class="skill-list">
                        <li class="skill-item" data-rate="5">HTML5</li>
                        <li class="skill-item" data-rate="5">CSS3</li>
                        <li class="skill-item" data-rate="5">JavaScript</li>
                        <li class="skill-item" data-rate="2">TypeScript</li>
                        <li class="skill-item" data-rate="2">React</li>
                        <li class="skill-item" data-rate="2">Next.js</li>
                        <li class="skill-item" data-rate="5">UI/UXデザイン</li>
                        <li class="skill-item" data-rate="5">レスポンシブデザイン</li>
                    </ul>
                </div>
                <div class="skill-category">
                    <h3 class="skill-category-title">Backend</h3>
                    <ul class="skill-list">
                        <li class="skill-item" data-rate="5">PHP</li>
                        <li class="skill-item" data-rate="5">Laravel</li>
                        <li class="skill-item" data-rate="2">Node.js</li>
                        <li class="skill-item" data-rate="4">MySQL</li>
                        <li class="skill-item" data-rate="4">Nginx</li>
                        <li class="skill-item" data-rate="4">Docker</li>
                        <li class="skill-item" data-rate="3">システム開発</li>
                        <li class="skill-item" data-rate="4">データベース設計</li>
                        <li class="skill-item" data-rate="4">Stripe</li>
                        <li class="skill-item" data-rate="2">AWS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
