<div class="container-inner">
    <h1 class="page-title">Contact</h1>
    <p class="contact-guide">
        お問い合わせはこちらからお願いします。
    </p>
    <form class="contact-form" action="/views/send_mail.php" method="post">
        <div class="form-group">
            <label class="form-label" for="name">名前</label>
            <input class="form-input" type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="email">メールアドレス</label>
            <input class="form-input" type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="message">メッセージ</label>
            <textarea class="form-textarea" id="message" name="message" required></textarea>
        </div>
        <button class="form-button" type="submit">送信</button>
    </form>
</div>
