.about-section {
    width: 80%;
    min-height: calc(100vh - 60px);
    padding: 30px 0;
    color: rgb(0 6 12 / 1);
    margin: 0 auto;
}

.about-inner-section {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
}

/* プロフィールセクション */
.profile-content {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding: 0 10px;
}

.profile-image {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid rgba(4 247 4 / 0.596);
    margin: 0;
    background-image: url('/images/rose.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-text {
    width: 60%;
    flex: 1;
    padding: 1%;
}

.profile-text-item {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.profile-text-title {
    width: 30%;
    font-size: 20px;
    color: rgb(0 6 12 / 1);
    margin: 0;
    font-weight: 400;
}

.profile-text-value {
    width: 70%;
    font-size: 20px;
    margin: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}

.profile-text-self-introduction {
    flex-direction: column;
    gap: 10px;
}

.profile-text-self-introduction-value {
    width: 100%;
}

.profile-text-self-introduction-value {
    line-height: 28px;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* スキルセクション */
.skills-section {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
}

.custom-generator-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 1%;
}

.custom-generator-icons img {
    height: 30px;
    margin: 5px;
    flex: 0 1 auto;
}

.skills-content {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skill-level-description {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(4 247 4 / 1);
    font-size: 19px;
    line-height: 24px;
}

.skill-categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

.skill-category {
    width: 90%;
    background-color: rgba(193 245 193 / 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(4 247 4 / 1);
    margin: 20px auto;
}

.skill-category-title {
    font-size: 24px;
    margin: 10px;
    color: rgb(0 6 12 / 1);
}

.skill-list {
    list-style: none;
    padding: 5%;
    margin: 0;
}

.skill-item {
    font-size: 18px;
    margin-bottom: 8px;
    font-family: 'Zen Kurenaido', sans-serif;
}

.skill-item::after {
    content: '★★★★★';
    color: rgba(0 0 0 / 0.1);
    letter-spacing: 2px;
    margin-left: 8px;
    font-size: 18px;
}
.skill-item[data-rate="1"]::after { color: rgb(255 215 0 / 1); content: '★☆☆☆☆'; }
.skill-item[data-rate="2"]::after { color: rgb(255 215 0 / 1); content: '★★☆☆☆'; }
.skill-item[data-rate="3"]::after { color: rgb(255 215 0 / 1); content: '★★★☆☆'; }
.skill-item[data-rate="4"]::after { color: rgb(255 215 0 / 1); content: '★★★★☆'; }
.skill-item[data-rate="5"]::after { color: rgb(255 215 0 / 1); content: '★★★★★'; }

/* レスポンシブ対応 */
@media (min-width: 769px) and (max-width: 1024px) {
    .about-subtitle {
        width: 85%;
    }

    .about-section {
        width: 90%;
    }

    .profile-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-text {
        width: 100%;
    }

    .profile-text-title,
    .profile-text-value {
        font-size: 21px;
    }


    .skill-category {
        width: 90%;
        padding: 2%;
    }
}


@media (max-width: 768px) {
    .about-section {
        padding: 20px 0;
        width: 90%;
    }

    .about-title {
        font-size: 24px;
    }

    .about-subtitle {
        width: 85%;
        font-size: 16px;
    }

    .profile-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }

    .profile-text {
        width: 100%;
    }

    .profile-text-title,
    .profile-text-value {
        font-size: 16px;
        text-align: left;
    }

    .skills-content {
        width: 100%;
        margin: 0;
    }

    .skill-level-description {
        font-size: 16px;
        padding: 20px 10px;
    }

    .skill-category {
        width: 100%;
        margin: 20px 0;
    }
}

