/* フォント読み込み制御 */
html {
    visibility: hidden;
}

html.fonts-loaded {
    visibility: visible;
}

/* 共通のスタイル */
body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}

@media (max-width: 412px) {
    .nav-menu {
        width: 100%;
    }

    .nav-menu-link {
        font-size: 24px;
    }

    .title-entry-top{
        font-size: 40px;
    }

    .title-entry-sub{
        font-size: 20px;
    }

    .title-entry-bottom{
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .nav-menu {
        width: 100%;
    }

    .page-title {
        font-size: 24px;
    }
}

