.contact-section {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-guide {
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    display: block;
    margin: 5% auto;
}

.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(4 247 4 / 1);
    border-radius: 10px;
    padding: 5%;
    margin: 2% auto;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.form-label {
    width: 90%;
    font-size: 19px;
    line-height: 24px;
    display: block;
    margin: 2% auto;
}

.form-input,
.form-textarea {
    width: 90%;
    font-size: 19px;
    line-height: 24px;
    padding: 1%;
    border: 1px solid rgb(4 247 4 / 1);
    border-radius: 5px;
    margin: 2% auto;
}

.form-textarea {
    height: 150px;
}

.form-button {
    padding: 4px 10px;
    border: 1px solid rgb(4 247 4 / 1);
    border-radius: 6px;
    background-color: rgb(240 248 255 / 1);
    color: rgb(4 247 4 / 1);
    font-size: 19px;
    line-height: 24px;
    margin: 5% auto;
}

@media (max-width: 540px) {
    .contact-guide {
        font-size: 14px;
    }

    .contact-form {
        width: 90%;
    }

    .form-label {
        width: 90%;
        font-size: 14px;

    }

    .form-input,
    .form-textarea {
        width: 90%;
        font-size: 14px;
    }
}
