.index-section {
    font-family: 'Alex Brush', cursive;
    padding: 30px 0;
    color: rgb(0 6 12 / 1);
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* タイトルのスタイル */
.title-entry-top {
    color: rgb(0 6 12 / 1);
    font-size: 64px;
    margin: 1% auto;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-entry-sub {
    width: 100%;
    color: rgb(0 6 12 / 1);
    font-size: 32px;
    margin: 1% auto;
    text-align: center;
    font-weight: 300;
}

.title-entry-bottom {
    width: 100%;
    color: rgb(0 6 12 / 1);
    font-size: 20px;
    margin: 1% auto;
    text-align: center;
    font-weight: 300;
    font-family: 'Zen Kurenaido', sans-serif;
}
