/* 共通のスタイル */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* フォント読み込み制御 */
html {
    visibility: hidden;
}

html.fonts-loaded {
    visibility: visible;
}

iframe {
    border: none;
    width: 100%;
    height: 100vh;
}

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 100vw;
    height: 60px;
    z-index: 1000;
    background-color: rgba(0 0 0 / 0.514);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Alex Brush', cursive;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.nav-menu {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.nav-menu-link {
    color: rgb(240 248 255 / 1);
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s ease;
    pointer-events: auto;
    cursor: pointer;
}

.nav-menu-link:hover {
    color: rgba(4 247 4 / 0.596);
}

.container {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    background: rgb(251 250 252 / 1);

}

.page-section {
    width: 80%;
    padding-top: 60px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.page-title {
    width: 100%;
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    text-align: center;
    margin: 2% 0;
    font-weight: 300;
}

.section-title {
    font-family: 'Alex Brush', cursive;
    font-size: 32px;
    line-height: 40px;
    margin: 2% 0;
    font-weight: 300;
    color: rgb(0 6 12 / 1)
}

@media (min-width: 413px) and (max-width: 768px) {
    .nav-menu {
        width: 80%;
    }

    .page-title {
        font-size: 24px;
    }

}

@media (max-width: 412px) {
    .page-section {
        width: 90%;
    }

    .nav-menu {
        width: 90%;
        padding: 0;
    }

    .nav-menu-link {
        font-size: 20px;
    }

    .title-entry-top{
        font-size: 40px;
    }

    .title-entry-sub{
        font-size: 20px;
    }

    .title-entry-bottom{
        width: 90%;
        font-size: 18px;
        text-align: left;
        margin: 0 auto;
    }
}

