/* 共通のスタイル */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* フォント読み込み制御 */
html {
    visibility: hidden;
}

html.fonts-loaded {
    visibility: visible;
}

iframe {
    border: none;
}

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: rgba(0 0 0 / 0.514);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Alex Brush', cursive;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.nav-menu {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu-item {
    margin: 0 3%;
}

.nav-menu-link {
    color: rgb(240 248 255 / 1);
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s ease;
    pointer-events: auto;
    cursor: pointer;
}

.nav-menu-link:hover {
    color: rgba(4 247 4 / 0.596);
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding-top: 60px;
    flex-direction: column;
    background: rgb(251 250 252 / 1);

}

.page-section {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    position: relative;
}

.page-title {
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    text-align: center;
    margin: 2% auto;
    font-weight: 300;
}

@media (max-width: 412px) {
    .nav-menu-link {
        font-size: 24px;
    }
}
@media (max-width: 768px) {
    .page-title {
        font-size: 24px;
    }
}
